@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --maincolor: #912a2a;
}

/* Reset default margin and padding */
body,
form {
    margin: 0;
    padding: 0;
}

/* Center the form vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
}

/* Style the chat container */
.chat-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Style the chat header */
.chat-header {
    background-color: var(--maincolor);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-header h1 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

/* Style the chat body */
.chat-body {
    padding: 20px;
}

/* Style the message container */
.message-container {
    display: flex;
    flex-direction: column;
}

/* Style the individual messages */
.message {
    margin-bottom: 15px;
}

.message-content label {
    color: #333;
}

.message-content textarea,
.message-content input[type="number"],
.message-content button {
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.message-content button {
    background-color: var(--maincolor);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.message-content textarea,
.message-content input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Add a container to center the form on the page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

/* Place key label, key input, and button on the same row */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#toggleButton {
    margin-top: 10px;
}
